*{
  box-sizing: border-box;
  color:#543941;

}
body{
  font-family: Helvetica, Verdana, Arial, sans-serif;
  background-color: #35465C;
}
h1, 
h2, 
h3,
h4{
  text-align: center;
}
/*header menu*/

nav {
  background-color: #35465C;
}
i {
  color: #9AA2AD;
}
.nav-wrapper img {
  width: 65px;
}
nav ul a:hover{
  background-color: #529ECC;
}

nav ul a:hover i{
  color: #36465D;
}
/*contenedor para el boton publicar*/
section {
  padding-top: 3em;
}

.contenedorBtnPublicar {
  margin-left: 2em;
  text-align: center;
  width: 40%;
}
.contenedorBtnPublicar form input {
  background-color: rgb(38, 166, 154);
  border-radius: 100px;
  border: none;
  color: white;
  padding: 2em;
}
#dropdown1{
  background-color: transparent;
}

#dropdown1 li {
  display: inline-block;
  text-align: center;
  list-style: none;
  padding: 1em;
  background-color: white;
}
#nth-child-1 i{
  color: #575757;
}
#nth-child-2 i{
  color: #F3A343;
}
#nth-child-3 i{
  color: #DC6E53;
}
#nth-child-4 i{
  color: #67C295;
}




/*creando clases fantasmas*/

.contenedorPorPublicar {
  background-color: white;
  display: inline-block;
  padding: 2em;
  width: 40%;
  position: relative;
  margin-top: 3em;
  margin-left: 2em;
}
.contenedorPorPublicar textarea {
  height: 6em;
  border: none;
  border-bottom: 1px solid #59637B;
  font-family: cursive;
}
.contenedorPorPublicar button {
  padding: 0.5em 1em;
  background-color: #36465D;
  border: none;
  color: white;
  font-family: cursive;
  margin-top: 1em;
  position: relative;
  left: 70%;
}
.contenedorPorPublicar input {
  margin-top: 2em;
  font-family: cursive;
}
.contenedorPorPublicar input[type="color"] {
  width: 5em;
  position: relative;
  left: 2em;
  height: 2em;
  background-color: #36465D;
  border: none;
}
.creandoContenedorPublicados{
  background-color: white;
  position: relative;
  left: 43%;
  top: -0em;
  padding: 2em;
  border: 2px solid #0D0B3C;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
  width: 49%;
  margin-left: 5%;
  text-align: center;
}
.creandoContenedorPublicados:hover{
  border-top-right-radius: 30px;
}

.creandoContenedorPublicados .titulo{
  text-align: left;
  color: #B92323;
  margin-bottom: 1em;

}
.creandoContenedorPublicados div {
  word-wrap: break-word;
  font-family: cursive;
  font-weight: bold;
  color: black; 
}
.creandoContenedorPublicados img{
  width: 75%;
  border-radius: 0.5em;
}
.crearSpan{
  width: 40%;
  margin-top: 1em;
  font-size: 120%;
  display: inline-block;
  position: relative;
  font-family: monospace;
  left: 30%;
  word-wrap: break-word;
}
.contHora {
  text-align: right;
  margin-top: 1em;
}
.contHora span{
  color: black;
}









