/*scroll*/

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 9px rgb(0,0,0);
  border-radius: 3em;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: #2F3254;
  border-radius: 1em;
}

/*general*/

*{
  box-sizing: border-box;
  color:#543941;

}

body{
  font-family: Helvetica, Verdana, Arial, sans-serif;
  background-color: #35465C;
}

h1, h2, h3, h4, .contenedorBtnPublicar, #dropdown1 li, .creandoContenedorPublicados{
  text-align: center;
}

/*header menu*/

nav {
  background-color: #35465C;
}

i {
  color: #9AA2AD;
}

.nav-wrapper img {
  width: 65px;
}

nav ul a:hover{
  background-color: #529ECC;
}

nav ul a:hover i{
  color: #36465D;
}

/*contenedor para el boton publicar*/

section {
  padding-top: 3em;
}

.contenedorBtnPublicar{
  margin-top: 1%;
}

.contenedorBtnPublicar form input {
  background-color: rgb(38, 166, 154);
  border-radius: 100px;
  border: none;
  color: white;
  padding: 2em;
}

#dropdown1{
  width: 100% !important;
  margin-top: -1.7em;
}

#dropdown1 li {
  list-style: none;
  padding: 1em;
  background-color: white;
}

#dropdown1 li:hover{
  background-color: #DAD7D7;
}

#nth-child-1 i{
  color: #575757;
}

#nth-child-2 i{
  color: #F3A343;
}

#nth-child-3 i{
  color: #DC6E53;
}

#nth-child-4 i{
  color: #67C295;
}

/*creando clases fantasmas*/

/*contenedor del textarea u otros*/
.contenedorPorPublicar, .contenedorPorPublicar button, .contenedorPorPublicar input[type="color"], .creandoContenedorPublicados, .crearSpan{
  position: relative;
}

.creandoContenedorPublicados div, .contenedorPorPublicar input, .contenedorPorPublicar button, .contenedorPorPublicar textarea{
  font-family: cursive;
}

.creandoContenedorPublicados div, .crearSpan{
  word-wrap: break-word;
}

.crearSpan, .contenedorPorPublicar, #dropdown1 li{
  display: inline-block;
}

.contenedorPorPublicar {
  background-color: white;
  padding: 2em;
  width: 50%;
  margin-top: 3em;
  left: 25%;
}


.contenedorPorPublicar textarea {
  height: 6em;
  border: none;
  border-bottom: 1px solid #59637B;
  resize: none;
}

.contenedorPorPublicar button {
  padding: 0.5em 1em;
  background-color: #36465D;
  border: none;
  color: white;
  margin-top: 1em;
  left: 70%;
}

.contenedorPorPublicar input {
  margin-top: 2em;
}

.contenedorPorPublicar input[type="color"] {
  height: 2em;
  background-color: #36465D;
  border: none;
}

.creandoContenedorPublicados{
  background-color: white;
  padding: 2em;
  border: 2px solid #0D0B3C;
  margin-bottom: 0.5em;
  margin-top: 3em;
  border-radius: 0.5em;
  width: 49%;
  left: 25.4%;
}

.creandoContenedorPublicados:hover{
  border-top-right-radius: 30px;
}

.creandoContenedorPublicados .titulo{
  text-align: left;
  color: #B92323;
  margin-bottom: 1em;

}

.creandoContenedorPublicados div {
  font-weight: bold;
  color: black; 
}

.creandoContenedorPublicados img{
  width: 95%;
  border-radius: 0.5em;
}

.crearSpan{
  width: 40%;
  margin-top: 1em;
  font-size: 120%;
  font-family: monospace;
  left: 30%;
}

.contHora {
  text-align: right;
  margin-top: 1em;
}

.contHora span{
  color: black;
}

@media(max-width: 740px){
  .contenedorPorPublicar button{
    left: 59%;
  }
}

@media(max-width: 650px){
  .creandoContenedorPublicados img{
    height:15em;
  }
}

@media(max-width: 540px){
  .contenedorPorPublicar{
    width: 80%;
    left: 10%;
  }
  .creandoContenedorPublicados{
    width: 90%;
    left: 6%;
  }
}
@media(max-width: 320px){
  .contenedorPorPublicar button{
    left: 30%;
  }
}